*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: 700;
    box-sizing: border-box;
    font-family: Times, Arial, Helvetica;
}

.body  {
    background-color: black;
   
}